html {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

button:focus,
select:focus,
textarea:focus,
input:focus {
  outline: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
}
