$fonts: "../fonts/";
$images: "../images/";
$brand:        #61BD6D !default;
$brand-1:      #41A85F !default;
$brand-2:      #1ABC9C !default;
$brand-3:      #00A885 !default;
$brand-4:      #54ACD2 !default;
$brand-5:      #61BD6D !default;
$brand-6:      #3D8EB9 !default;
$brand-7:      #2C82C9 !default;
$brand-8:      #2969B0 !default;
$brand-9:      #9365B8 !default;
$brand-10:     #553982 !default;
$brand-11:     #475577 !default;
$brand-12:     #28324E !default;
$brand-13:     #D1D5D8 !default;
$brand-14:     #54ACD2 !default;
$brand-15:     #61BD6D !default;
$brand-16:     #41A85F !default;
$brand-17:     #1ABC9C !default;
$brand-18:     #00A885 !default;
$brand-19:     #54ACD2 !default;
$brand-20:     #CF5850 !default;
